{% extends "user_page.html" %}


{% block content %}
<!-- Модальное окно с задачей -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ffd166;">
                <h5 class="modal-title" id="taskTopic"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 id="taskText" class="text-center mb-4"></h4>
                <div class="text-center">
                    <input type="number" id="answerInput" class="form-control form-control-lg mb-3" style="font-size: 24px; text-align: center;">
                    <button class="btn btn-success btn-lg" onclick="checkAnswer()">Проверить</button>
                </div>
                <div id="feedback" class="text-center mt-3 fs-5"></div>
            </div>
        </div>
    </div>
</div>
{% block content %}
